* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
/* scroll animations */
/* Enable animation */
.animate {
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-fill-mode: both;
}
/* Fade Up */
.fade-up {
  animation-name: fadeUp;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade Left */
.fade-left {
  animation-name: fadeLeft;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade Right */
.fade-right {
  animation-name: fadeRight;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Zoom In */
.zoom-in {
  animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Rotate */
.rotate-in {
  animation-name: rotateIn;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
  }

  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

/* for stoping overflow */
section {
  contain: paint;
}

/* Button Hover */
button {
  transition: 0.4s;
}

button:hover {
  transform: translateY(-5px);
}

.stopTouch:hover {
  animation: none;
  transform: scale(1.2);
}
